:root{
    --bg_gray: #343633;
    --bg_black: #2C2D2B;
    --white_text:#F8F8F8;
    --green_text: #74BC57;
    --bg_green: #04544C;
}

/* fonts */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    src: url('/TT/fonts/Raleway-VariableFont_wght.ttf');
}


@font-face {
    font-family: 'Raleway';
    font-style: italic;
    src: url('/TT/fonts/Raleway-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Archivo';
    font-style: normal;
    src: url('/TT/fonts/Archivo-VariableFont_wdth\,wght.ttf');
}


@font-face {
    font-family: 'Archivo';
    font-style: italic;
    src: url('/TT/fonts/Archivo-Italic-VariableFont_wdth\,wght.ttf');
}



p{
    font-family: Archivo;
    color: var(--white_text);
}


body{
    background-color: var(--bg_gray);
}


/* menu */

.interac_icon{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 20px;
}

.interac_icon:hover .item_1,
.interac_icon:hover .item_2 {
    width: 11%;

}

.icon_item{
    color: var(--green_text);
}

.item_1{
    overflow: hidden;
    font-family: Raleway;
    font-weight: 800;
    font-size: 25px;
    width: 15px;
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-bottom: 5px;
    transition: .3s ease-in-out;
    letter-spacing: 2px;

}

.item_2{
    overflow: hidden;
    font-family: Archivo;
    font-weight: 700;
    font-size: 25px;
    width: 16px;
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-bottom: 5px;
    transition: .3s ease-in-out;
    color: var(--white_text);

}

.content_shadow{
    box-shadow: 7px 11px 36px 8px rgba(0,0,0,0.62);
    -webkit-box-shadow: 7px 11px 36px 8px rgba(0,0,0,0.62);
    -moz-box-shadow: 7px 11px 36px 8px rgba(0,0,0,0.62);
    overflow: hidden;
    position: relative;
    z-index: 6;
}


/* barra temporizadora */

.time_menu{
    background-color: var(--bg_black);
    height: 500px;
    /*position: relative;  temporal o eso pienso */
    z-index: 1;
}

/* .time_menu_container{

} */

.bg_timer{
    text-align: center;
    width: 150px;
    position: absolute;
    top: 200px;
    left: 45%;
    z-index: 1;
}

.bg_timer::after{
    content: ' ';
}

.bar_time{
    background-color: var(--bg_green);
    width: 100%;
    height: 500px;
    transition: 1s ease-in-out;
    z-index: 2;
    position: absolute;
    box-shadow: 2px -13px 27px -11px rgba(0,0,0,0.54) inset;

}


/* menu del tiempo */

.time_controller{
    width: 550px;
    height: 200px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--bg_black);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.305);
    border-radius: 45px;
    
}

.time_controller_container{
    margin: auto;
    text-align: center;
    height: 100%;
}

.time_element{
    margin: auto;
}

.element2 svg, .element3 svg{
    width: 90px;
    fill: var(--white_text);
    transition: .2s ease-in-out;
}

.element2 svg:hover,
.element3 svg:hover{
    width: 90px;
    fill: var(--green_text);
}

.timer_time{
    background-color: var(--bg_gray);
    color: var(--white_text);
    font-size: 60px;
    font-family: Archivo;
    width: 80%;
    height: 60%;
    text-align: center;
    border: 1px solid var(--bg_black);
    border-radius: 30px;
    outline: none;
    appearance: none; 
}

svg:hover{
    color: #74BC57;
}

button{
    background-color: var(--bg_black);
    border: none;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--bg_black);
    overflow: hidden;
    bottom: -80px;

}

footer p{
    /* margin-top:15px;
    margin-bottom:0px; */
    margin: 15px 10px 10px 0px;
    text-align: end;
}



span{
    color: var(--green_text);
}
